@import 'variables';

body {
  $right-col-width: 30%;
  $header-row-height: 13%;
  display: grid;
  grid-template-columns: 100% - $right-col-width $right-col-width;
  @media only screen and (max-width: $mobile-width) {
    display: flex;
    flex-direction: column;
  }
}


.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  .text-icon + .text-icon {
    margin-left: $pad;
  }
}
span.row {
  justify-content: start;
  align-items: baseline;
}

header {
  width: 100%;
  height: 100%;
  grid-column-start: span 2;
}

main {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;

  padding: 0 $pad;
}

aside {
  grid-column-start: 2;
  grid-row-start: 2;
  padding-right: $pad;
  section {
    margin-bottom: $pad;
    @media print {
      margin-bottom: 0;
    }
  }
  @media only screen and (max-width: $mobile-width) {
    padding-left: $pad;
    section {
      margin-bottom: $pad-half;
    }
  }
  .full-width {
    margin-right: -$pad;
    @media only screen and (max-width: $mobile-width) {
      margin-left: -$pad;
    }
  }
}

// Left increment for inner content
main section p {
  margin-left: $marg;
  text-align: justify;
}



.text-icon {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  > span, > a {
    margin: 0 5px;
    line-height: 24px;
    word-break: normal;
  }
  i {
    text-align: center;
  }
  &.medium {
    font-size: medium;
    > img {
      margin-right: $pad;
    }
  }
  &.big {
    font-size: large;
    > img {
      margin-right: $pad;
    }
  }
}
