@use "sass:math";

@import 'variables';
@import 'titles';
@import 'grid';

// TODO Fix print margin so that it fits

* {
  box-sizing: border-box;
}

$a4-width: 21cm;
$a4-height: 29.7cm;

html {
  background-color: #3f3f3f;
  font-family: $font-stack;
  font-optical-sizing: auto;
  font-size: $font-size;
}

body {
  background-color: $lightest-color;
  max-width: $a4-width + 5cm;
  margin: auto;

  color: $text-primary-color;
  @media (min-width: $a4-width) {
    aspect-ratio: 1 / 1.41;
    overflow: auto;
  }
  @media print {
    width: $a4-width;
    height: $a4-height;
    margin: 0;
  }
}

p {
  margin: math.div($marg, 2) 0;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
  li {
    margin: $marg 0;
  }
}

a {
  text-decoration: none;
  text-decoration-color: $link-color;
  color: inherit;
  margin: 0;
  padding: 0;
  // New tab icon
  &[target="_blank"]:not(.no-icon):after {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    color: grey;
    vertical-align: middle;
    background-image: url(imgs/external_link.svg);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 $marg;
  }
}

/* Header */
header {
  position: relative;
  flex-basis: 0;
  padding: $pad;
  background-color: #09071d;
  justify-content: space-between;
  @media (min-width: $mobile-width) {
    padding: 4px $pad;
    // min-height: 150px;
  }
  &.line {
    margin: 5px 0;
  }
  > div > * {
    color: $text-opposite-second-color;
    letter-spacing: 1px;
  }
  h1 {
    color: $text-opposite-color;
  }
}

#my-face {
  position: absolute;
  right: 0;
  margin-right: 30px;
  height: 100%;
  width: auto;
  transform: translateY(20%);
  filter: drop-shadow(0px 0px 1px black);
  @media only screen and (max-width: $mobile-width) {
    display: none;
  }
  @media print {
    transform: translateY(17%);
  }
}

@mixin focus($thickness: 1px) {
  border: $thickness dashed $primary-color;
  background: adjust-color($primary-color, $alpha: -0.9);
}

main {
  section {
    section {
      $border-width: 1px;
      // Transparent border so that on focus, text don't shift
      border: $border-width solid transparent;
      border-radius: 6px;
      padding: math.div($pad, 6) $pad-half;
      margin-right: -$pad-half;
      margin-left: -$pad-half;
      @media print {
        padding-top: 0;
        padding-bottom: 0;
      }
      &:hover {
        @include focus($border-width);
      }
    }
    &:not(:first-of-type) h2 {
      margin-top: $marg * 2;
      @media print {
        margin-top: $marg;
      }
    }
  }
}

/* Technos */

#technos {
  background-color: $second-color;
  padding-top: $pad;
  padding-bottom: $pad;
  padding-left: $pad;
  margin-right: -$pad;
  @media print {
    padding-top: $pad-half;
    padding-bottom: $pad-half;
    padding-left: $pad-half;
    border-radius: 0 0 0 10px;
  }
  @media (min-width: $mobile-width) {
    padding-bottom: 0;
    border-radius: 0 0 0 10px;
  }
  > * {
    margin-top: $marg;
    margin-bottom: 0;
    &:last-child {
      margin-bottom: $marg;
    }
  }
  > .subtitle {
    margin: $marg * 2 0;
    font-size: 0.85em;
    @media print {
      margin: $marg 0;
    }
  }
}

/* Languages */
#languages li {
  font-weight: bold;
}

#links {
  a {
    margin: math.div($marg, 2) 2px;
    color: $background-color;
    .fab, .fas {
      float: left;
      font-size: $font-size * 2;
      margin: 0 math.div($marg, 2);
    }
  }
}

  a {
    &:hover {
      color: rgb(21, 43, 137);
    }
  }

#referees i {
  color: $text-second-color;
  &:hover {
    color: $text-primary-color
  }
}

.tag {
  border-radius: 5px;
  background-color: rgb(119, 255, 119);
  padding: 2px $pad-half;
  margin: 0 5px;
  font-size: small;

  display: flex;
  align-items: center;

  &.front {
    background-color: $second-color;
  }
  &.back {
    background-color: rgb(255, 172, 172);
  }
}
