@import 'variables';

@media print {
  h1, h2, h3, h4, h5 {
    margin: math.div($marg, 2) 0;
  }
}

h1, h2, h3, h4, h5 {
  margin: $marg 0;
  a {
    text-decoration: none;
  }
  &.underline {
    border-bottom: 1px solid;
  }
}
h1 {
  text-transform: uppercase;
  font-weight: bold;
}
h1, h2, h3 {
  color: $text-primary-color;
  border-color: $text-primary-color;
  font-weight: bold;
}
h3 {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: $marg;
  span {
    font-weight: normal;
  }
}

h4 {
  font-weight: normal;
  color: $text-primary-color;
  margin: 0;
}

section > h2 {
  text-transform: uppercase;
}
