@import 'variables';

body {
  display: grid;
  grid-template-columns: auto 30%;
  grid-template-rows: 16% auto;
}

.line {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  flex-direction: row;
}
span.row {
  justify-content: start;
  align-items: baseline;
}

main {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;

  padding: 0 20px;
}

aside {
  grid-column-start: 2;
  grid-row-start: 2;
  section {
    margin-bottom: 20px;
  }
  > :not(#technos) {
    padding-right: 20px;
  }
}

section p {
  margin-left: 10px;
}