.red {
  color: #dc254e;
  border-color: #dc254e;
}

.grey {
  color: #666666;
  border-color: #666666;
}

.lighter {
  font-weight: lighter;
}

.red {
  color: #dc254e;
  border-color: #dc254e;
}

.grey {
  color: #666666;
  border-color: #666666;
}

.lighter {
  font-weight: lighter;
}

h1, h2, h3, h4, h5 {
  margin: 0.5rem 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a {
  text-decoration: none;
}
h1.underline, h2.underline, h3.underline, h4.underline, h5.underline {
  border-bottom: 1px solid;
}

h1 {
  text-transform: uppercase;
  font-weight: bold;
}

h1, h2, h3 {
  color: black;
  border-color: black;
  font-weight: bold;
}

h3 {
  margin-bottom: 0;
  margin-top: 0;
  margin-right: 0.5rem;
}
h3 span {
  font-weight: normal;
}

h4 {
  font-weight: normal;
  color: black;
  margin: 0;
}

section > h2 {
  text-transform: uppercase;
}

.red {
  color: #dc254e;
  border-color: #dc254e;
}

.grey {
  color: #666666;
  border-color: #666666;
}

.lighter {
  font-weight: lighter;
}

body {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: 13% 87%;
}

.line {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}
.row .text-icon + .text-icon {
  margin-left: 20px;
}

span.row {
  justify-content: start;
  align-items: baseline;
}

header {
  width: 100%;
  height: 100%;
  grid-column-start: span 2;
}

main {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 2;
  padding: 0 20px;
}

aside {
  grid-column-start: 2;
  grid-row-start: 2;
  padding-right: 20px;
}
aside section {
  margin-bottom: 20px;
}
aside .full-width {
  margin-right: -20px;
}

section p {
  margin-left: 0.5rem;
  text-align: justify;
}

.text-icon {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
.text-icon > span, .text-icon > a {
  margin: 0 5px;
  line-height: 24px;
  word-break: normal;
}
.text-icon i {
  text-align: center;
}
.text-icon.medium {
  font-size: medium;
}
.text-icon.medium > img {
  margin-right: 20px;
}
.text-icon.big {
  font-size: large;
}
.text-icon.big > img {
  margin-right: 20px;
}

* {
  box-sizing: border-box;
}

@media print {
  body {
    width: 21cm;
    height: 29.7cm;
    margin: 0;
  }
}
html {
  background-color: #3f3f3f;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

body {
  background-color: white;
  width: 21cm;
  height: 29.7cm;
  margin: 0;
  overflow: scroll;
  color: black;
}

p {
  margin: 0.25rem 0;
}

ul {
  padding: 0;
  list-style: none;
}
ul li {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  text-decoration-color: #5980a9;
  color: inherit;
  margin: 0;
  padding: 0;
}
a[target=_blank]:not(.no-icon):after {
  content: "";
  display: inline-block;
  width: 1rem;
  height: 1rem;
  color: grey;
  vertical-align: middle;
  background-image: url(imgs/external_link.svg);
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 0.5rem;
}

/* Header */
header {
  padding: 0 20px;
  background-color: #09071d;
  justify-content: space-between;
}
header.line {
  margin: 5px 0;
}
header h1 {
  color: white;
}
header > div > * {
  color: #cccccc;
  letter-spacing: 1px;
}

#my-face {
  height: 100%;
  width: auto;
  transform: translateY(28px);
  filter: drop-shadow(0px 0px 1px black);
}

main section section {
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 3.3333333333px 10px;
  margin-right: -10px;
  margin-left: -10px;
}
main section section:hover {
  border: 1px dashed #dc254e;
  background: rgba(220, 37, 78, 0.1);
}
main section:not(:first-of-type) h2 {
  margin-top: 1rem;
}

/* Technos */
#technos {
  background-color: #bbf5ce;
  padding-top: 20px;
  padding-left: 20px;
  margin-right: -20px;
  border-radius: 0 0 0 10px;
}
#technos > * {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
#technos > *:last-child {
  margin-bottom: 0.5rem;
}

/* Languages */
#languages li {
  font-weight: bold;
}

#links a {
  margin: 0.25rem 2px;
}
#links a .fab, #links a .fas {
  float: left;
  color: #141421;
  font-size: 32px;
  margin: 0 0.25rem;
}

#referees i {
  color: #666666;
}
#referees i:hover {
  color: black;
}

/*# sourceMappingURL=test.css.map */
