$font-stack: 'Roboto', sans-serif;
$font-size: 16px;

$main-padding: 20px;
$main-margin: 0.5rem;

$primary-color: #dc254e;
$second-color: #bbf5ce;
$background-color: #141421;
$lightest-color: white;
$darkest-color: black;

$link-color: #5980a9;

$text-primary-color: black;
$text-second-color: lighten($text-primary-color, 20%);
$text-opposite-color: white;
$text-opposite-second-color: darken($text-opposite-color, 20%);


.red {
  color: $primary-color;
  border-color: $primary-color;
}
